body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}


h1 {
	color: #CBCACA;
	font-size: 1.18rem;
	margin-top: 128px;
	margin-bottom: 30px;
}

.btn-danger {
	margin-top: 100px;
	margin-bottom: 80px;
}

.btn-danger:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
